.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fromDiv {
    max-width: 900px;
    min-width: 300px;
}

.mapDiv {
    width: 100vw;
    height: 100vh;
}

.infro {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 122222;
    background-color: #fff;
    padding: 10px;
}