.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fromDiv {
    max-width: 900px;
    min-width: 300px;
}

.mapDiv {
    width: 100vw;
    height: 100vh;
}

.infro {

    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 122222;

}

.infoDiv {
    width: 13vw;
    height: fit-content;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

@media screen and (max-width:480px) {
    .infoDiv {
        width: 30vw;
        font-size: 50%;
        font-weight: bold;
    }

    .iconImg {
        width: 20px;
    }
}

.diseaseCheckbox {
    margin-right: 6px;
}

.diseaseCheckbox:hover {
    cursor: pointer;
}